<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head'); %>
  
  <body>
	<%- include('../partials/navbar'); %>
	
	<!-- Main-banner -->
	<main class="main-page">
	  <%- include('../partials/aside'); %>
		
	  <section class="details-page">
	    <article>
        <div>
          <h2><b><%= product.equipo %></b></h2>
        <br>
        <img class="details-page-img" src="/images/products/<%= product.imagen %>">
        </div>
      </article>

		<article>
		  <h3><%= product.tipo %> <%= product.temporada %></h3>
		  <h5><%= product.marca %></h5> 
		  <h5>$ <%= product.precio %> MXN</h5>
          <hr>
          
          <h4>Tallas disponibles</h4>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> XS
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2" autocomplete="off"> S
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> M
			</label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> L
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> XL
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> XXL
            </label>
          </div>
          <hr>
          
          <h4>Cantidad</h4>
          <div class="input-group">       
            <input type="text" class="form-control" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4" value="1">     
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-outline-secondary" type="button">+</button>
              <button class="btn btn-outline-secondary" type="button">-</button>
            </div>
          </div>
          <hr>
      
          <button type="button" class="btn btn-primary btn-lg">Comprar</button>
		</article>
	  </section>
	</main>	
	<!-- //Main-banner -->

    <%- include('../partials/footer'); %>
  </body>
</html>



        
 