<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head'); %>
  
  <body>
    <%- include('../partials/navbar'); %>
	
	<!-- Register-Form -->
  <section class="details-page">
    <article class="product-edit-img">
      <div>
        <h2><b><%= product.equipo %></b></h2>
        <br>
        <img class="details-page-img" src="/images/products/<%= product.imagen %>">
      </div>
    </article>

    <article>
      <form id="productRegisterForm" method="POST" action="/product/<%= locals.productId %>?_method=PUT" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-6 my-1">
            <div class="form-group">
              <label><b>Equipo:</b></label>
              <input 
              id="productEquipo"
                type="text" 
                name="equipo" 
                class="form-control <%= locals.errors && errors.equipo ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.equipo : product.equipo %>"
              >
              <i id="equipoErrorMessage" class="text-danger"></i>
                
              <% if (locals.errors && errors.equipo) { %>
                <div class="text-danger">
                  <%= errors.equipo.msg %> 
                </div>
              <% } %>
            </div>
          </div>

          <div class="col-md-6 my-1">
            <div class="form-group">
              <label><b>Liga:</b></label>
              <select 
                id="productLiga"
                name="liga" 
                class="form-select <%= locals.errors && errors.liga ? 'is-invalid' : null %>"
              >     

                <%  
                  let ligas = ['Premier League', 'La Liga', 'Bundesliga', 'Calcio', 'Ligue 1', 'Liga MX',
                    'Brasileirão', 'Liga Argentina', 'MLS', 'Eredivise', 'Primeira Liga', 'Superliga UEFA'];
                %>
                <% for (const liga of ligas) { %>
                  <option 
                    value="<%= liga %>"
                    <% if(locals.oldData) { %>
                      <%= (liga === oldData.liga) ? 'selected' : null %> 
                      <% } else { %>
                      <%= (liga === product.liga) ? 'selected' : null %> 
                    <% } %>
                  > <%= liga %> 
                  </option>
                <% } %> 
              </select>
              <i id="ligaErrorMessage" class="text-danger"></i>

                <% if (locals.errors && errors.liga) { %>
                  <div class="text-danger">
                    <%= errors.liga.msg %>
                  </div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 my-1">
              <div class="form-group">
                <label><b>Marca:</b></label> 
                <select 
                  id="productMarca"
                  name="marca" 
                  class="form-select <%= locals.errors && errors.marca ? 'is-invalid' : null %>"
                >                    
                  <%  
                    let marcas = ['Adidas', 'Nike', 'Pirma', 'Joma'];
                  %>
                  <% for (const marca of marcas) { %>
                    <option 
                      value="<%= marca %>"
                      
                      <% if(locals.oldData) { %>
                        <%= (marca === oldData.marca) ? 'selected' : null %> 
                      <% } else { %>
                        <%= (marca === product.marca) ? 'selected' : null %> 
                      <% } %>

                    > <%= marca %> 
                    </option>
                  <% } %>
                </select>
                <i id="marcaErrorMessage" class="text-danger"></i>
                  
                <% if (locals.errors && errors.marca) { %>
                  <div class="text-danger">
                    <%= errors.marca.msg %>
                  </div>
                <% } %>
              </div>
            </div>
            
            <div class="col-md-6 my-1">
              <div class="form-group">
                <label><b>Tipo:</b></label> 
                
                <select 
                  id="productTipo"
                  name="tipo" 
                  class="form-select <%= locals.errors && errors.tipo ? 'is-invalid' : null %>"
                >    
                  <%  
                    let tipos = ['Local', 'Visitante', 'Alternativo'];
                  %>
                  <% for (const tipo of tipos) { %>
                    <option 
                      value="<%= tipo %>"
                      
                      <% if(locals.oldData) { %>
                        <%= (tipo === oldData.tipo) ? 'selected' : null %> 
                      <% } else { %>
                        <%= (tipo === product.tipo) ? 'selected' : null %> 
                      <% } %>

                    > <%= tipo %> 
                    </option>
                  <% } %>
                </select>
                <i id="tipoErrorMessage" class="text-danger"></i>
                  
                <% if (locals.errors && errors.tipo) { %>
                  <div class="text-danger">
                    <%= errors.tipo.msg %>
                  </div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 my-1">
              <div class="form-group">
                <label><b>Temporada:</b></label> 
                <select 
                  id="productTemporada"
                  name="temporada" 
                  class="form-select <%= locals.errors && errors.temporada ? 'is-invalid' : null %>"
                >    
                  <%  
                    let temporadas = ['2018/2019', '2019/2020', '2020/2021', '2021/2022', '2022/2023'];
                  %>
                  <% for (const temporada of temporadas) { %>
                    <option 
                      value="<%= temporada %>"
                      
                      <% if(locals.oldData) { %>
                        <%= (temporada === oldData.temporada) ? 'selected' : null %> 
                      <% } else { %>
                        <%= (temporada === product.temporada) ? 'selected' : null %> 
                      <% } %>

                    > <%= temporada %> 
                    </option>
                  <% } %>
                </select>
                <i id="temporadaErrorMessage" class="text-danger"></i>
                  
                <% if (locals.errors && errors.temporada) { %>
                  <div class="text-danger">
                    <%= errors.temporada.msg %>
                  </div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 my-1">
              <div class="form-group">
                <label><b>Categoría:</b></label>
              
                <select 
                  id="productCategoria"
                  name="categoria" 
                  class="form-select <%= locals.errors && errors.tipo ? 'is-invalid' : null %>"
                >              
                  <%  
                    let categorias = ['Hombres', 'Mujeres', 'Niños', 'Unisex'];
                  %>
                  <% for (const categoria of categorias) { %>
                    <option 
                      value="<%= categoria %>"
                      
                      <% if(locals.oldData) { %>
                        <%= (categoria === oldData.categoria) ? 'selected' : null %> 
                      <% } else { %>
                        <%= (categoria === product.categoria) ? 'selected' : null %> 
                      <% } %>

                    > <%= categoria %> 
                    </option>
                  <% } %>
                </select>
                <i id="categoriaErrorMessage" class="text-danger"></i>
                  
                <% if (locals.errors && errors.categoria) { %>
                  <div class="text-danger">
                    <%= errors.categoria.msg %>
                  </div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 my-1">
              <label class="sr-only" for="inlineFormInputGroup">Precio</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>

                <input 
                  id="productPrecio"
                  type="text" 
                  name="precio" 
                  class="form-control <%= locals.errors && errors.precio ? 'is-invalid' : null %>"
                  value="<%= locals.oldData ? oldData.precio : product.precio %>"
                >  

                <div class="input-group-prepend">
                  <div class="input-group-text">MXN</div>
                </div>
                <i id="precioErrorMessage" class="text-danger"></i>

                <% if (locals.errors && errors.precio) { %>
                  <div class="text-danger">
                  <%= errors.precio.msg %> 
                  </div>
                <% } %>
              </div>
            </div>

            <div class="col-12 my-3">
              <div class="form-group">
                <label><b>Imagen del producto:</b></label>
                <input 
                type="file" 
                name="imagen"
                class="form-control <%= locals.errors && errors.imagen ? 'is-invalid' : null %>"
                >
                <% if (locals.errors && errors.imagen) { %>
                  <div class="text-danger">
                    <%= errors.imagen.msg %>
                  </div>
                <% } %>
              </div>
            </div>

            <div class="col-12 my-3">
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </div>
        </form>
      </article>
  </section>  
	<!-- //Register-Form -->
	
	<%- include('../partials/footer'); %>

  <script src="/js/validateRegisterProductScript.js"></script>
</body>
</html>