<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head'); %>
  
  <body>
	<%- include('partials/navbar'); %>
	
	<!-- Main-banner -->
	<main class="main-page">
	  <%- include('partials/aside'); %>
		
	  <section class="index-page">
		<div>
		  <h2 class="main-title">Ofertas</h2>
		</div>
		<hr>
	  
		<div class="product-list-content">
		  <% for (let product of products) { %> 
			<div class="product-list-items">
			  <a href="/product/<%= product.id %>">
				<img class="product-list-items-img" src="/images/products/<%= product.imagen %>" alt="<%= product.imagen %>">
			  </a>
			  <hr>
			  
			  <p>
				<b><%= product.equipo %></b>
				<br>
				<i><%= product.tipo %> <%= product.temporada %></i>
				<br>
				<strong>$ <%= product.precio %> MXN</strong> 
			  </p>
			  <hr>
			</div>
		  <% } %> 
		</div>     
	  </section>
	</main>	
	<!-- //Main-banner -->

    <%- include('partials/footer'); %>
  </body>
</html>