<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  
  <body>
    <%- include('../partials/header') %>
        
    <main class="main-content">  
      <section>
        <div class="product-list-content">
          <h2 class="page-title">Listado de productos</h2>
          <button class="product-button">
            <a href="/products/create">
              <img class="header-icon" src="/images/icons/buttons/agregar.png" alt="botonAgregar">
            </a>
          </button>
        </div>
        <hr>

        <div class="flex-products">
          <% for (let product of products) { %> 
            <div class="list-products-options">
              <a href="/products/<%= product.id %>">
                <img class="flex-product-img" src="/images/products/<%= product.imagen %>" alt="<%= product.imagen %>">
                <p><b><%= product.equipo %></b> <br> <%= product.tipo %> <%= product.temporada %></p>
              </a>

              <div class="btn-group" role="group" aria-label="Basic example">
                <form method="POST" action="/products/<%= product.id %>?_method=DELETE">
                  <a href="/products/<%= product.id %>/edit">
                    <button type="button" class="btn btn-warning">Editar</button>
                  </a>
                  <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
              </div>
            </div>
          <% } %> 
        </div>      
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
